In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('nbs_data.xlsx')
df_y_a = df.loc[:, ['Year', 'Abstract','Index Keywords']]

# 요약문에서 실제로 내용이 있는 부분('@' 앞)만을 가져와, 새 컬럼 Abs_split에 저장
abs_split = df_y_a['Abstract'].str.split('©')
df_y_a['Abstract'] = abs_split.str.get(0)
df_y_a


if (df_y_a["Index Keywords"].isnull().any().any()):
    df_y_a["abs+key"] = df_y_a["Abstract"]
else:
    df_y_a["abs+key"] = df_y_a["Abstract"] + " "+ df_y_a["Index Keywords"]
    
df_y_a

,Year,Abstract,Index Keywords,abs+key
0,2020,Stormwater management is one of the greatest c...,cost-benefit analysis; maintenance; project as...,Stormwater management is one of the greatest c...
1,2021,Wine producers face several challenges regardi...,NaN,Wine producers face several challenges regardi...
2,2021,Terrestrial ecosystems are the core components...,ecological approach; environmental issue; envi...,Terrestrial ecosystems are the core components...
3,2021,(Despite a growing recognition of the importan...,climate change; infrastructure planning; natur...,(Despite a growing recognition of the importan...
4,2018,The response of coastal wetlands to sea-level ...,coastal waters; letter; occupation; sea level ...,The response of coastal wetlands to sea-level ...
...,...,...,...,...
1051,2012,The presented article deals with an indirect e...,agriculture; ecotourism; national park; numeri...,The presented article deals with an indirect e...
1052,2014,This article draws on different bodies of know...,NaN,This article draws on different bodies of know...
1053,2010,Remote areas devoid of roads and tourist trans...,cultural landscape; ecotourism; mountain regio...,Remote areas devoid of roads and tourist trans...
1054,2009,The importance of ecosystem services for manki...,cost-benefit analysis; ecosystem service; mark...,The importance of ecosystem services for manki...
1055,2006,Soil moisture content (0–90 cm depth) and nitr...,Fagus; Fagus sylvatica,Soil moisture content (0–90 cm depth) and nitr...

In [3]:
df_y_a['abs+key'][21]

'Community-based natural resources management (CBNRM) is being increasingly promoted as the solution to problems of nature conservation, and some national programs like the Zimbabwean CAMPFIRE and Zambian ADMADE1 have been championed as models for others to imitate. The approach seeks to fuse two very different kinds of agendas-preservation of nature based on biocentric premises, and decentralized rural development based on anthropocentric premises-into a win-win combination. However, as the implementation strategy relies on pragmatic reasoning, where economic rationality constitutes the main criterion, it fails to take into account the various noneconomic values involved. While individual success stories are on record, the experience this far does not provide replicable models for either decentralized resource management or efficient conservation of biodiversity.'

In [4]:
#정렬하기 
df_sorted_by_values = df_y_a.sort_values(by='Year',ascending=True)
df_sorted_by_values.head(1056)

,Year,Abstract,Index Keywords,abs+key
21,2003,Community-based natural resources management (...,biodiversity; local participation; nature cons...,Community-based natural resources management (...
1055,2006,Soil moisture content (0–90 cm depth) and nitr...,Fagus; Fagus sylvatica,Soil moisture content (0–90 cm depth) and nitr...
23,2007,"In a Sino-German research project, a joined de...",Adsorption towers; Bioreactors; Energy efficie...,"In a Sino-German research project, a joined de..."
1054,2009,The importance of ecosystem services for manki...,cost-benefit analysis; ecosystem service; mark...,The importance of ecosystem services for manki...
1053,2010,Remote areas devoid of roads and tourist trans...,cultural landscape; ecotourism; mountain regio...,Remote areas devoid of roads and tourist trans...
...,...,...,...,...
77,2022,Green roofs (GR) can be used as a nature-based...,Climate change; Costs; Ecosystems; Physical pr...,Green roofs (GR) can be used as a nature-based...
76,2022,Assessing the impacts of urbanization on the i...,delta; heat island; multiple regression; urban...,Assessing the impacts of urbanization on the i...
75,2022,Nature-Based Solutions (NBS) provide a systemi...,Biodiversity; Catchments; Earthquake engineeri...,Nature-Based Solutions (NBS) provide a systemi...
73,2022,The Urban Heat Island (UHI) effect is one of t...,Atmospheric temperature; Climate change; Ecosy...,The Urban Heat Island (UHI) effect is one of t...
82,2022,This paper explores the concept of “institutio...,adaptation; Article; environmental decision ma...,This paper explores the concept of “institutio...

In [5]:
df_all_list = df_y_a.groupby(['Year']).count()
df_all_list = sum(df_all_list.values.tolist(), [])
df_all_list

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 5,
 4,
 5,
 7,
 3,
 7,
 20,
 17,
 20,
 51,
 45,
 51,
 73,
 55,
 73,
 123,
 102,
 123,
 263,
 198,
 263,
 485,
 360,
 485,
 22,
 19,
 22]

In [44]:
year = [2003, 2006, 2007, 2009, 2010, 2012, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
keyword = ["forest", "forestation", "afforestation", "reforestation"]
tree_keyword = ["forest", "forestation", "afforestation", "reforestation", "tree"]
plant_keyword = ["forest", "forestation", "afforestation", "reforestation", "plant"]
tree_plant_keyword = ["forest", "forestation", "afforestation", "reforestation", "tree", "plant"]

In [45]:
df_list = df_y_a.values.tolist()
df_pd= pd.DataFrame(df_list)
df_pd.columns=['Year','Abstract','Index Keywords','Abs+key']
df_pd = df_pd.loc[:, ['Year', 'Abs+key']]

In [37]:
#연도별 keyword 개수
df_pd1=df_pd[df_pd['Abs+key'].str.contains('|'.join(keyword))]
df_keyword = df_pd1.groupby(['Year']).count()
df_keyword

      Abs+key
Year
2006        1
2014        1
2015        2
2016        2
2017        7
2018       10
2019       11
2020       29
2021       73
2022        5

In [39]:
#연도별 tree_keyword 개수
df_pd2=df_pd[df_pd['Abs+key'].str.contains('|'.join(tree_keyword))]
df_tree_keyword = df_pd2.groupby(['Year']).count()
df_tree_keyword

      Abs+key
Year
2006        1
2014        1
2015        2
2016        3
2017       11
2018       14
2019       17
2020       41
2021      109
2022        6

In [43]:
#연도별 plant_keyword 개수
df_pd3=df_pd[df_pd['Abs+key'].str.contains('|'.join(plant_keyword))]
df_plant_keyword = df_pd3.groupby(['Year']).count()
df_plant_keyword

      Abs+key
Year
2006        1
2014        1
2015        2
2016        4
2017       14
2018       21
2019       24
2020       62
2021      142
2022        9

In [46]:
#연도별 tree_plant_keyword 개수
df_pd4=df_pd[df_pd['Abs+key'].str.contains('|'.join(tree_plant_keyword))]
df_tree_plant_keyword = df_pd4.groupby(['Year']).count()
df_tree_plant_keyword

      Abs+key
Year
2006        1
2014        1
2015        2
2016        5
2017       16
2018       24
2019       27
2020       72
2021      162
2022       10